/* Área reservada para a estilização e design do site */

element.style {
}

body {
    background-color: rgb(127, 133, 133);
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    height: 100%!important;
}

.no-margin {
    margin: 0px!important;
}

.no-padding {

}

.conteudo {
    margin: 25px auto;
    padding: 10px;
    border: 1px solid black;
}